composer.phar
/vendor/
/logs/*.log
/caches/compile/*
/caches/config/*
/caches/template/*
/caches/*.txt
/caches/*.json
/production_*
/package-lock.json
/node_modules
/test.json
/caches/*/
caches/last_settings_migrate_run
.php-cs-fixer.cache
/storage/caches/*.json
/storage/caches/*.txt
/storage/caches/*.log
/storage/caches/*/
/storage/logs/*.log
/frontend/node_modules
/storage/backups/database/*.sql