{% extends 'components/page.twig' %}

{% block head %}
	<link rel="stylesheet" href="/assets/vendor/css/pages/page-misc.css"/>
{% endblock %}

{% block content %}
	<div class="container-xxl container-p-y">
		<div class="misc-wrapper">
			<h1 class="mb-2 mx-2" style="line-height: 6rem; font-size: 6rem">404</h1>
			<h4 class="mb-2 mx-2">{{ lang('Pages.Errors.InternalServerError.Title') }}</h4>
			<p class="mb-6 mx-2">{{ lang('Pages.Errors.InternalServerError.Description') }}</p>
			<a href="/" class="btn btn-primary mb-10">{{ lang('Pages.Errors.InternalServerError.Button') }}</a>
		</div>
	</div>
	<div class="container-fluid misc-bg-wrapper">
		<img src="/assets/img/illustrations/bg-shape-image-light.png" height="355" alt="page-misc-error" data-app-light-img="illustrations/bg-shape-image-light.png" data-app-dark-img="illustrations/bg-shape-image-dark.png"/>
	</div>
{% endblock %}

{% block footer %}{% endblock %}
