<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
	<div class="app-brand demo">
		<a href="/" class="app-brand-link">
			<span class="app-brand-text demo menu-text fw-bold">{{ setting('app', 'name') }}</span>
		</a>

		<a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
			<i class="ti menu-toggle-icon d-none d-xl-block align-middle"></i>
			<i class="ti ti-x d-block d-xl-none ti-md align-middle"></i>
		</a>
	</div>
	<div class="menu-inner-shadow"></div>
	<ul class="menu-inner py-1">
		<!-- Misc -->
		<li class="menu-header small">
			<span class="menu-header-text" data-i18n="Misc">Misc</span>
		</li>
		<li class="menu-item">
			<a href="https://pixinvent.ticksy.com/" target="_blank" class="menu-link">
				<i class="menu-icon tf-icons ti ti-lifebuoy"></i>
				<div data-i18n="Support">Support</div>
			</a>
		</li>
		<li class="menu-item">
			<a href="https://demos.pixinvent.com/vuexy-html-admin-template/documentation/" target="_blank" class="menu-link">
				<i class="menu-icon tf-icons ti ti-file-description"></i>
				<div data-i18n="Documentation">Documentation</div>
			</a>
		</li>
	</ul>
</aside>
