{% extends 'components/dashboard.twig' %}

{% block head %}{% endblock %}

{% block dashboard %}
	<div class="flex-grow-1 container-p-y container-fluid">
		<div class="row fv-plugins-icon-container">
			<div class="col-md-12">
				{% include 'account/components/navbar.twig' %}

				<div
					class="card mb-6">
					<!-- Account -->
									{% include 'account/components/profile.twig' %}

					<hr class="my-0">
					<div class="card-body pt-4">
						<div class="card-body pt-1">
							<form id="formAccountSettings" method="GET" onsubmit="return false" class="fv-plugins-bootstrap5 fv-plugins-framework" novalidate="novalidate">
								<div class="row">
									<div class="mb-6 col-md-6 form-password-toggle fv-plugins-icon-container">
										<label class="form-label" for="currentPassword">Current Password</label>
										<div class="input-group input-group-merge has-validation">
											<input class="form-control" type="password" name="currentPassword" id="currentPassword" placeholder="············">
											<span class="input-group-text cursor-pointer">
												<i class="ti ti-eye-off"></i>
											</span>
										</div>
										<div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
									</div>
								</div>
								<div class="row">
									<div class="mb-6 col-md-6 form-password-toggle fv-plugins-icon-container fv-plugins-bootstrap5-row-valid">
										<label class="form-label" for="newPassword">New Password</label>
										<div class="input-group input-group-merge has-validation">
											<input class="form-control" type="password" id="newPassword" name="newPassword" placeholder="············">
											<span class="input-group-text cursor-pointer">
												<i class="ti ti-eye-off"></i>
											</span>
										</div>
										<div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
									</div>

									<div class="mb-6 col-md-6 form-password-toggle fv-plugins-icon-container fv-plugins-bootstrap5-row-invalid">
										<label class="form-label" for="confirmPassword">Confirm New Password</label>
										<div class="input-group input-group-merge has-validation">
											<input class="form-control" type="password" name="confirmPassword" id="confirmPassword" placeholder="············">
											<span class="input-group-text cursor-pointer">
												<i class="ti ti-eye-off"></i>
											</span>
										</div>

									</div>
								</div>
								<h6 class="text-body">Password Requirements:</h6>
								<ul class="ps-4 mb-0">
									<li class="mb-4">Minimum 8 characters long - the more, the better</li>
									<li class="mb-4">At least one lowercase character</li>
									<li>At least one number, symbol, or whitespace character</li>
								</ul>
								<div class="mt-6">
									<button type="submit" class="btn btn-primary me-3 waves-effect waves-light">Save changes</button>
									<button type="reset" class="btn btn-label-secondary waves-effect">Reset</button>
								</div>
								<input type="hidden"></form>
						</div>

					</div>
					<!-- /Account -->

				</div>
				<div class="card mb-6">
					<div class="card-body">
						<h5 class="mb-6">Two-steps verification</h5>
						{% if user('2fa_enabled',false) == "false" %}
							<h5 class="mb-4 text-body">Two factor authentication is not enabled yet.</h5>
							<p class="w-75">
								Two-factor authentication adds an additional layer of security to your account by requiring more
																																							                        than just a password to log in.
								<a target="_blank" href="https://en.wikipedia.org/wiki/Multi-factor_authentication">Learn more.</a>
							</p>
							<a class="btn btn-primary mt-2 waves-effect waves-light" href="/auth/2fa/setup">
								Enable Two-Factor Authentication
							</a>
						{% else %}
							<h5 class="mb-4 text-body">Two factor authentication is enabled.</h5>
							<p class="w-75">Two-factor authentication adds an additional layer of security to your account by requiring more than just a password to log in.
								<a href="https://en.wikipedia.org/wiki/Multi-factor_authentication" target="_blank">Learn more.</a>
							</p>
							<a class="btn btn-primary mt-2 waves-effect waves-light" href="/auth/2fa/disable">
								Disable Two-Factor Authentication
							</a>
						{% endif %}

					</div>
				</div>
			</div>
		</div>
	</div>
	<br><br><br><br>
{% endblock %}

{% block footer %}{% endblock %}
