{% extends 'components/page.twig' %}

{% block head %}{% endblock %}

{% block content %}
	<div class="rounded-sm border border-stroke bg-white px-5 py-10 shadow-default dark:border-strokedark dark:bg-boxdark sm:py-20">
		<div class="mx-auto max-w-[410px]">
			<div class="mt-7.5 text-center">
				<h2 class="mb-3 text-2xl font-bold text-black dark:text-white">
					MythicalFraemwork
				</h2>
				<p class="font-medium">
					Welcome to the index page of MythicalFraemwork. This is a simple framework that can be used to build web applications.
				</p>
			</div>
		</div>
	</div>
{% endblock %}

{% block footer %}{% endblock %}
