name: Lint

on: [push, pull_request]

permissions:
  contents: read
  
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-20.04
    steps:
      - name: Code Checkout
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.3"
          extensions: bcmath, curl, gd, mbstring, mysql, openssl, pdo, tokenizer, xml, zip
          tools: composer:v2
          coverage: none
        
      - name: Install dependencies
        run: composer install --no-interaction --no-progress --no-suggest --prefer-dist

      - name: PHP CS Fixer (APP)
        run: vendor/bin/php-cs-fixer fix app --dry-run
      
      - name: PHP CS Fixer (Tests)
        run: vendor/bin/php-cs-fixer fix tests --dry-run
      - name: PHP CS Fixer (Routes)
        run: vendor/bin/php-cs-fixer fix routes --dry-run
      - name: PHP CS Fixer (Lang)
        run: vendor/bin/php-cs-fixer fix lang --dry-run
      - name: PHP CS Fixer (Cron)
        run: vendor/bin/php-cs-fixer fix lang --dry-run
      - name: PHP CS Fixer (API)
        run: vendor/bin/php-cs-fixer fix api --dry-run
      - name: PHP CS Fixer (Addons)
        run: vendor/bin/php-cs-fixer fix addons --dry-run
      - name: PHP CS Fixer (Commands)
        run: vendor/bin/php-cs-fixer fix commands --dry-run
      - name: PHP CS Fixer (Install)
        run: vendor/bin/php-cs-fixer fix install --dry-run
      - name: PHP CS Fixer (Public)
        run: vendor/bin/php-cs-fixer fix public --dry-run
      - name: PHP CS Fixer (Migrate)
        run: vendor/bin/php-cs-fixer fix migrate --dry-run
